parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en
    secret:            ThisTokenIsNotSoSecretChangeIt

    superfeedr_user: user
    superfeedr_password: password

    bangpound_phirehose.twitter_consumer_key:
    bangpound_phirehose.twitter_consumer_secret:

    bangpound_phirehose.oauth_token:
    bangpound_phirehose.oauth_secret:

    bangpound_phirehose.track: []
    bangpound_phirehose.locations: []
    bangpound_phirehose.follow: []

    bangpound_phirehose.stream.class: ~

    rabbitmq_host: localhost
    rabbitmq_user: guest
    rabbitmq_pass: guest
    rabbitmq_port: 5672
    rabbitmq_vhost: /

    router.request_context.host: localhost
    router.request_context.scheme: http
    router.request_context.base_url: ~

    doctrine_couch_db.default.dbname: symfony
    doctrine_couch_db.default.user: guest
    doctrine_couch_db.default.password: guest
