# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            en

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    superfeedr_user: user
    superfeedr_password: password

    bangpound_phirehose.twitter_consumer_key:
    bangpound_phirehose.twitter_consumer_secret:

    bangpound_phirehose.oauth_token:
    bangpound_phirehose.oauth_secret:

    bangpound_phirehose.track: []
    bangpound_phirehose.locations: []
    bangpound_phirehose.follow: []

    rabbitmq_host: localhost
    rabbitmq_user: guest
    rabbitmq_pass: guest
    rabbitmq_port: 5672
    rabbitmq_vhost: /

    router.request_context.host: localhost
    router.request_context.scheme: http
    router.request_context.base_url: ~

    doctrine_couch_db.default.dbname: symfony
    doctrine_couch_db.default.user: guest
    doctrine_couch_db.default.password: guest

    doctrine_couchdb.odm.document_manager.class: Bangpound\Bundle\CastleSearchBundle\DocumentManager
    bangpound_castle.types:
        Bangpound.Bundle.TwitterStreamingBundle.CouchDocument.AtomEntry: 'Kal3a: Twitter (Jul 2013 to current)'
        Rshief.MigrationBundle.CouchDocument.CollectorAtomEntry: "Twitterminer (Aug 2010 to Jul 2013)"
        Rshief.MigrationBundle.CouchDocument.AtomEntry: "FB+Web Original (Aug 2010 to Jul 2013)"
        Bangpound.Bundle.CastleBundle.CouchDocument.AtomEntry: Castle
        Bangpound.Bundle.PubsubBundle.CouchDocument.AtomEntry: 'Kal3a: FB+Web (Jul 2013 to current)'
    bangpound_castle.types.lower:
        bangpound.bundle.twitterstreamingbundle.couchdocument.atomentry: 'Kal3a: Twitter (Jul 2013 to current'
        rshief.migrationbundle.couchdocument.collectoratomentry: "Twitterminer (Aug 2010 to Jul 2013)"
        rshief.migrationbundle.couchdocument.atomentry: "FB+Web Original (Aug 2010 to Jul 2013)"
        bangpound.bundle.castlebundle.couchdocument.atomentry: Castle
        bangpound.bundle.pubsubbundle.couchdocument.atomentry: 'Kal3a: FB+Web (Jul 2013 to current)'
